@import "tailwindcss";

@theme {
  --primary-black: #1A232E;
  --secondary-white: #c7c7c7;
  --ease-out-flex: cubic-bezier(0.05, 0.6, 0.4, 0.9);
}
@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
     
    font-family: "Eudoxus Sans", sans-serif;
  }
}
@layer utilities{
    .bg-primary-black {
    background-color: var(--primary-black);
  }
   .text-secondary-white {
    color: var(--secondary-white);
  }

  .ease-out-flex {
    transition-timing-function: var(--ease-out-flex);
  }
.gradient-01 {
  background-image: linear-gradient(
    250deg,
    hsl(278, 100%, 16%) 0%,
    hsl(258, 88%, 28%) 15%,
    hsl(238, 78%, 45%) 35%,
    hsl(215, 90%, 56%) 55%,
    hsl(195, 100%, 65%) 75%,
    hsl(172, 90%, 70%) 100%
  );
  filter: blur(145px);
}

.hero-gradient {
  background: radial-gradient(
    circle at 50% 50%,
    #00f0ff 0%,
    #6e00ff 40%,
    #12001a 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: radial-gradient(circle, #00fff0 0%, #006a70 100%);
  filter: blur(220px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 0 60px 0 rgba(0, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.06);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: conic-gradient(
    from 180deg at 50% 50%,
    rgba(190, 20, 255, 0.3),
    rgba(0, 255, 209, 0.2),
    rgba(120, 0, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  filter: blur(200px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: radial-gradient(ellipse at top, #090e1f 0%, #1a0049 100%);
  filter: blur(220px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.015) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: radial-gradient(circle, #e100ff 0%, #430069 100%);
  filter: blur(200px);
}

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: linear-gradient(
    90deg,
    #00c8ff 0%,
    #8c00ff 50%,
    #12001a 100%
  );
  filter: blur(160px);
}



}

